<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-left justify-content-left" href="#">
                <div class="sidebar-brand-text mx-3">Securities demo</div>
            </a>

            <hr class="sidebar-divider">

            {% if enabledFeatures.ticker_trend %}
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <i class="fas fa-fw fa-chart-line"></i>
                        <span>Stock overview</span></a>
                </li>
            {% endif %}

            {% if enabledFeatures.transactions %}
                <li class="nav-item active">
                    <a class="nav-link" href="/portfolio-detail">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Portfolio & transactions</span></a>
                </li>
            {% endif %}

            {% if enabledFeatures.ticker_trend and enabledFeatures.notification %}
                <li class="nav-item active">
                    <a class="nav-link" href="/alerts">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Alerts</span></a>
                </li>
            {% endif %}

            {% if enabledFeatures.report %}
                <li class="nav-item active">
                    <a class="nav-link" href="/report">
                        <i class="fas fa-fw fa-chart-line"></i>
                        <span>Reports</span></a>
                </li>
            {% endif %}

        </ul>
