<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stock trading demo</title>

    <link href="{{ url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="{{ url_for('static', filename = 'css/sb-admin-2.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ url_for('static', filename = 'vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">

    <style>
        .template {
            display: none;
        }
    </style>

</head>

<body id="page-top">

    <div id="wrapper">

        {% include 'nav.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <ul class="navbar-nav ml-auto" id="ulid">

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="chatAI" href="#" role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Portfolio GPT</span>
                                <i class="fas fa-magic"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="https://github.com/bestarch/securities_portfolio_data_model?tab=readme-ov-file#securities--portfolio-management" role="button" target=”_blank”>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">See how it works</span>
                                <i class="fas fa-magic"></i>
                            </a>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow mx-1 target">

                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter" id="notifCountId"></span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in target"
                                aria-labelledby="alertsDropdown" >
                                <h6 class="dropdown-header">
                                    Notifications
                                </h6>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hello user</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static', filename = 'img/undraw_profile.svg') }}">
                            </a>
                        </li>
                    </ul>

                </nav>

                <div class="container-fluid">

                    <h1 class="h3 mb-2 text-gray-800">User transactions</h1>

                    <div class="row" id="accDetailDiv">

                        <div class="col-xl-3 col-md-3 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary mb-1">
                                                Number of stocks held</div>
                                            <div class="h5 mb-0 font-weight-bold small text-gray-800" id="totalSecurityCount"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-3 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success mb-1">
                                                Stocks as of today</div>
                                            <div class="h5 mb-0 font-weight-bold small text-gray-800" id="totalSecurityCountByTime"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-3 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success mb-1">
                                                Average cost/unit </div>
                                            <div class="h5 mb-0 font-weight-bold small text-gray-800" id="avgCostPriceByTime"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-3 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Portfolio value </div>
                                            <div class="h5 mb-0 font-weight-bold small text-gray-800" id="portfolioValue"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Search user transactions</h6>
                        </div>

                        <div class="card-body">
                            <form action="" class="form-inline pb-2">
<!--                                <div class="form-group mx-3">-->
<!--                                        <label class="mr-2">Investor#</label><input type="text" id="investorId" class="form-control" placeholder="" >-->
<!--                                </div>-->
                                <div class="form-group mx-3">
                                        <label class="mr-2">A/C#</label><input type="text" id="accountId" class="form-control" placeholder="" >
                                </div>
                                <div class="form-group mx-3">
                                        <label class="mr-2">Stock</label><input type="text" id="stockId" class="form-control" placeholder="" >
                                </div>
                                <button type="button" id="resultBtnId" class="btn btn-info">Get result</button>

                            </form>
<!--                            <div class="small mx-3 mb-4" id="metaDiv"></div>-->

                            <div class="table-responsive">
                                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="info">
                                            <th>A/C #</th>
<!--                                            <th>A/C holder name</th>-->
                                            <th>Stock</th>
                                            <th>Date</th>
                                            <th>Price (INR)</th>
                                            <th>Quantity</th>
                                            <th>Total value (INR)</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/sb-admin-2.min.js') }}"></script>

    <script src="{{ url_for('static', filename = 'vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendor/moment.min.js') }}"></script>

    <script src="{{ url_for('static', filename = 'js/demo/portfolio.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/demo/notification.js') }}"></script>

    <a class="dropdown-item d-flex align-items-center template" href="#" id="template">
        <div class="mr-3">
            <div class="icon-circle bg-warning">
                <i class="fas fa-exclamation-triangle text-white"></i>
            </div>
        </div>
        <div class="alertmessage"></div>
    </a>

     <div class="modal fade" id="chatAIContainer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Get portfolio insights (Powered by Redis AI)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="container-fluid">

                <div class="row">
                  <div class="col-md-12">
                      <iframe src="{{chat_url}}" style="width:100%; height:500px;"></iframe>
                  </div>
                </div>

              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</body>

</html>