<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stock trading demo</title>

    <link href="{{ url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="{{ url_for('static', filename = 'css/sb-admin-2.min.css') }}" rel="stylesheet">

    <style>
        .template {
            display: none;
        }
    </style>

</head>

<body id="page-top">

    <div id="wrapper">

        {% include 'nav.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <ul class="navbar-nav ml-auto" id="ulid">

                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-link dropdown-toggle">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Stock</span>
                                <form id="stockForm" action="/stock-stats" method="post">
                                    <select class="form-select form-select-sm " aria-label=".form-select-sm example" id="stockSelector" name="stockSelector">
                                        <option class="dropdown-item" value="-" selected disabled>--Select--</option>
                                        {% for st in stocks %}
                                            <option value="{{ st }}">{{ st }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" id="stockHid" value="{{stock}}">
                                </form>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1 target">

                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter" id="notifCountId"></span>
                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in target"
                                aria-labelledby="alertsDropdown" >
                                <h6 class="dropdown-header">
                                    Notifications
                                </h6>

                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hello user</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static', filename = 'img/undraw_profile.svg') }}">
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="container-fluid">

                   <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-10">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Historic trend <i class="fas fa-check"></i></h6>

                                    <select class="form-select form-select-sm " aria-label=".form-select-sm example" id="timeframeSelector" name="timeframe">
                                        <option class="dropdown-item" value="1">Last 1 month</option>
                                        <option class="dropdown-item" value="3">Last 3 month</option>
                                        <option class="dropdown-item" value="6">Last 6 month</option>
                                        <option class="dropdown-item" value="12">Last 1 year</option>
                                        <option class="dropdown-item" value="60">Last 5 years</option>
                                        <option class="dropdown-item" value="120">Last 10 years</option>
                                    </select>

                                </div>

                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="reportCanvas" width="900" height="500"></canvas>
                                      </div>
                                </div>

                            </div>
                        </div>

                </div>

            </div>
       </div>

    </div>

    </div>

</body>

    <script src="{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <script src="{{ url_for('static', filename = 'js/sb-admin-2.min.js') }}"></script>

    <script src="{{ url_for('static', filename = 'js/demo/notification.js') }}"></script>

    <a class="dropdown-item d-flex align-items-center template" href="#" id="template">
        <div class="mr-3">
            <div class="icon-circle bg-warning">
                <i class="fas fa-exclamation-triangle text-white"></i>
            </div>
        </div>
        <div class="alertmessage"></div>
    </a>

    <script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>

    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial@0.2.1/dist/chartjs-chart-financial.min.js"></script>

    <script src="{{ url_for('static', filename = 'js/demo/report.js') }}"></script>

</html>